<?xml version="1.0" encoding="utf-8"?>
<configuration allowInsecureConnections="true">
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="LocalPackages" value="/Users/macintoks/Documents/Dot NET/NugetPackages" />
    <!-- <add key="Nexus" value="http://localhost:8081/repository/nuget.org-proxy/index.json" /> -->
  </packageSources>
</configuration>